.search {

    .page-header {
        
        .search-page-head{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            text-align: center;
            margin-bottom: 30px;
        }
    }
    .wadi-search__form {
        padding: 0 140px;
    }
    .content-area {
        padding: 0 140px;
    }

    .no-results, .not-found {
        padding: 0 140px;
    } 
}