.wadi-single-post__wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    .entry-header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .post-thumbnail {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        img.attachment-post-thumbnail {
            min-width: 100%;
        }
    }

    .entry-meta {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;

        .posted-on {
            margin-right: 12px;

            a {
                color: $dark;
                text-decoration: none;
                &:hover {
                    color: lighten($dark, 30%);
                    border-bottom: 1px solid #ddd;
                }
            }
        }
    }

    .entry-content {

        h1 {
            font-size: 2.1rem;
        }
        h2 {
            font-size: 1.9rem;
        }
        h3 {
            font-size: 1.7rem;
        }
        h4 {
            font-size: 1.5rem;
        }
        h5 {
            font-size: 1.3rem;
        }
        h6 {
            font-size: 1.1rem;
        }

        &>* {
            margin: 20px 0;
            max-width: 100%;
        }
        & ul li, & ol li {
            font-size: 18px;
            padding-left: 10px;
            padding-bottom: 0.5rem;
        }
        p {
            font-size: 18px;
        }
        a {
            color: $dark;
            text-decoration: none;
            border-bottom: 2px solid #530202;
            font-size: 18px;

            &:hover {
                color: lighten($dark, 30%);
                border-bottom: 2px solid #0089c9;
            }
        }
    }

}